<div class="row">
  <div class="col-sm-12">
    <form name="newItem" ng-submit="cat.createProduct($event)" ng-show="cat.typeName == 'Course'">
      <div>
        <div>
          <input ng-model="cat.Course.title" class="form-control" type="text" name="title" placeholder="Título" required>
        </div>
        <div>
          <label>Abstracto</label>
          <textarea ng-model="cat.Course.abstract" class="form-control" required></textarea>
        </div>
        <div>
          <label>Descripción</label>
          <text-angular ng-model="cat.Course.description"></text-angular>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th><span>Perfil</span></th>
              <th><span>Cuándo/Dónde</span></th>
              <th><span>Precio</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <textarea ng-model="cat.Course.profile" class="form-control" required></textarea>
              </td>
              <td>
                <textarea ng-model="cat.Course.whenWhere" class="form-control" required></textarea>
              </td>
              <td>
                <input ng-model="cat.Course.price" type="text" class="form-control" required></input>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Financiamiento</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><textarea ng-model="cat.Course.priceDescription" class="form-control" required></textarea></td>
            </tr>
            <tr>
              <td>
                <input type="text" ng-model="cat.Course.image" class="form-control" placeholder="Imagen">
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <input type="checkbox" ng-model="cat.Course.comming"> Próximamente
                </label>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn-primary" type="submit" ng-click="">Guardar</button>
          <a class="btn btn-success" ui-sref="^">Regresar</a>
        </div>
      </div>
    </form>

    <form name="newItem" ng-submit="cat.createProduct($event)" ng-show="cat.typeName === 'Track'">
      <div>
        <div class="form-group">
          <select class="form-control" ng-model="cat.Track.courseId" ng-options="course.title for course in cat.courses" required>
            <option value="">Selecciona un curso</option>
          </select>
        </div>
        <div class="form-group">
          <input ng-model="cat.Track.title" class="form-control" type="text" name="title" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <textarea class="form-control" ng-model="cat.Track.description"></textarea>
        </div>
        <div class="form-group">
          <label>Módulos</label>
          <text-angular ng-model="cat.Track.modules"></text-angular>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th><span>Puesto</span></th>
              <th><span>Nombre</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-control" type="text" ng-model="cat.Track.position"></td>
              <td><input class="form-control" type="text" ng-model="cat.Track.name"></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Facebook</span></th>
              <th><span>Twitter</span></th>
              <th><span>Web</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-control" type="text" ng-model="cat.Track.facebook"></td>
              <td><input class="form-control" type="text" ng-model="cat.Track.twitter"></td>
              <td><input class="form-control" type="text" ng-model="cat.Track.web"></td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" ng-model="cat.Track.image" class="form-control" placeholder="Imagen">
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn-primary" type="submit" ng-click="">Guardar</button>
          <a class="btn btn-success" ui-sref="^">Regresar</a>
        </div>
      </div>
    </form>

    <form name="newItem" ng-submit="cat.createProduct($event)" ng-show="cat.typeName == 'Guest'">
      <div>
        <div class="form-group">
          <select class="form-control" ng-model="cat.Track.courseId" ng-options="course.title for course in cat.courses" required>
            <option value="">Selecciona un curso</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="cat.Guest.title" placeholder="Nombre">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th><span>Puesto</span></th>
              <th><span>Facebook</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" ng-model="cat.Guest.position"></td>
              <td><input type="text" class="form-control" ng-model="cat.Guest.facebook"></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Twitter</span></th>
              <th><span>Web</span></th>
              <th><span>Linked-In</span></th>
              <th><span>Foto</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" ng-model="cat.Guest.twitter"></td>
              <td><input type="text" class="form-control" ng-model="cat.Guest.web"></td>
              <td><input type="text" class="form-control" ng-model="cat.Guest.linkedin"></td>
              <td><input type="text" class="form-control" ng-model="cat.Guest.image"></td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="text" ng-model="cat.Guest.image" class="form-control" placeholder="Imagen">
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn-primary" type="submit" ng-click="">Guardar</button>
          <a class="btn btn-success" ui-sref="^">Regresar</a>
        </div>
      </div>
    </form>

  </div>
</div>