<div>
  <h1>{{cat.id | names}}</h1>
  <div ui-view>
    <nav class="">
      <ul class="nav nav-pills">
        <li><a ui-sref="admin.category.new({id: cat.id})">Nuevo producto</a></li>
      </ul>
    </nav>
    <div ng-show="cat.id == 'Course'">
      <div ng-repeat="item in cat.resources">
        <h3>{{item.title}}</h3>
        <div>
          <a ui-sref="admin.category.edit({item: item.id})">Editar</a>
          <a href="#" ng-click="cat.delete($event, item.id)">Eliminar</a>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th><span>Abstracto</span></th>
              <th><span>Description</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.abstract}}</td>
              <td>{{item.description}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Perfil</span></th>
              <th><span>Cuándo/Dónde</span></th>
              <th><span>Precio</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.profile}}</td>
              <td>{{item.whenWhere}}</td>
              <td>{{item.price}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Financiamiento</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.priceDescription}}</td>
            </tr>
          </tbody>
        </table>
        <p>
          <a href="{{item.image}}" target="_blank">{{item.image}}</a>
        </p>
        <p>
          <span ng-if="item.comming == true">
            Este curso estará disponible próximamente.
          </span>
        </p>
      </div>
    </div>

    <div ng-show="cat.id == 'Track'">
      <div ng-repeat="item in cat.resources">
        <h3>{{item.title}}</h3>
        <div>
          <a ui-sref="admin.category.edit({item: item.id})">Editar</a>
          <a href="#" ng-click="cat.delete($event, item.id)">Eliminar</a>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th><span>Description</span></th>
              <th><span>Módulos</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.description}}</td>
              <td>{{item.modules}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Puesto</span></th>
              <th><span>Facebook</span></th>
              <th><span>Twitter</span></th>
              <th><span>Web</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.position}}</td>
              <td>{{item.facebook}}</td>
              <td>{{item.twitter}}</td>
              <td>{{item.web}}</td>
            </tr>
          </tbody>
        </table>
        <p>
          <a href="{{item.image}}" target="_blank">{{item.image}}</a>
        </p>
      </div>
    </div>

    <div ng-show="cat.id == 'Guest'">
      <div ng-repeat="item in cat.resources">
        <h3>{{item.title}}</h3>
        <div>
          <a ui-sref="admin.category.edit({item: item.id})">Editar</a>
          <a href="#" ng-click="cat.delete($event, item.id)">Eliminar</a>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th><span>Puesto</span></th>
              <th><span>Facebook</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.position}}</td>
              <td>{{item.facebook}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th><span>Twitter</span></th>
              <th><span>Web</span></th>
              <th><span>Linked-In</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.twitter}}</td>
              <td>{{item.web}}</td>
              <td>{{item.linkedin}}</td>
            </tr>
          </tbody>
        </table>
        <p>
          <a href="{{item.image}}" target="_blank">{{item.image}}</a>
        </p>
      </div>
    </div>


    <div ng-show="cat.id == 'Carousel'">
      <div class="row">
        <div class="col-sm-6" ng-repeat="item in cat.resources">
          <img ng-src="{{item.image}}" class="img-thumbnail" />
          <p class="text-muted">{{item.description}}</p>
          <div>
            <a ui-sref="admin.category.edit({item: item.id})">Editar</a>
            <a href="#" ng-click="cat.delete($event, item.id)">Eliminar</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>